<#@ template language="C#" inherits="BaseTextTemplate" #>
<#@ import namespace="TypescriptModel.Poco" #>
<# ImportUsedClasses(Model.UsedClasses, Model.Module); #>
export class <#= Model.TsName#> {
<# foreach (var property in Model.Properties) { #>
    <#= property.PropertyName #>: <#= property.ClassName #>;
<# } #>
}
<#+ public ClassModel Model { get; set; } #>